[Unit]
Description=farm3d
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=~/farm3d/
#Environment=""
ExecStart="~/farm3d/run.sh"

[Install]
WantedBy=multi-user.target
